.App{
  background-image: url('./images/bac.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.box{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.li{
  margin-bottom: -25% !important;
  margin-right: 20%;
}
.fig {
  
  margin-top: 20% !important;
}